{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Footprint calculator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
  </head>
  <body>
  <div class="container1">
    <div class="head">
        {% block title %}
        {% endblock %}
    </div>
    <div class="result">
      {% block content %}
      {% endblock %}
    <button onclick="location.href ='/main/'" class="main1">Strona główna</button>
    </div>
  </div>
  </body>
</html>