{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Footprint calculator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
  </head>
  <body>
  <div class="container">
    <div class="head">
      <h>Kalkulator śladu węglowego</h>
    </div>
    <div class="row">
    <div class="column">
    <div class="information">
      {% block content_title %}
        <table>Info</table>
      {% endblock %}
    </div>
    </div>
  <div class="column">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  </div>
  </div>
  </body>
</html>