body {
  background-color: #81CC6A;
}

div.container {
  font-family: sans-serif;
  padding-top: 150px;
  width: 100%;
  height: 550px;
  color: #DCFFD1;
}

div.head {
  font-weight: 300;
  font-size: xx-large;
  text-align: center;

}

div.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

div.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

div.information {
  margin-left: auto;
  padding: 14px 40px;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 200;
  hyphens: auto;
  text-indent: 25px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: justify;
  border-right: 1px solid #DCFFD1;
}

div.content {
  margin-right: auto;
  padding: 14px 40px;
  height: 300px;
  border-radius: 8px;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 200;
  hyphens: auto;
  line-height: 22px;
  align-items: center;
  text-align: justify;
}

div.button button {
  border: 1px solid #DCFFD1;
  background-color: #81CC6A;
  color: #DCFFD1;
  padding: 14px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 200;
  border-radius: 8px;
}

p {
  font-size: 16px;
  font-weight: 200;
  margin-top: auto;
}

input.button {
  font-size: 16px;
  font-weight: 200;
  border-radius: 8px;
  padding: 14px 20px;
  border: 1px solid #DCFFD1;
  background-color: #81CC6A;
  color: #DCFFD1;
  margin-block-end: 1em;
}

input {
  border: 1px solid #DCFFD1;
  border-radius: 6px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 200;
  color: #DCFFD1;
  background-color: #81CC6A;
  text-align: center;
  width: 100px;
}

select {
  font-size: 16px;
  font-weight: 200;
  padding: 14px 20px;
  color: #DCFFD1;
  border-radius: 8px;
  border: 1px solid #DCFFD1;
  background-color: #81CC6A;
  text-align-last: center;
}

hr {
  color: #DCFFD1;
  size: 500px;
  width: 0px;
  height: 50%;
  margin-top: -300px;
  border: 1px solid #DCFFD1;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

div.result {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
}

button.button-result {
  margin-left: 575px;
  margin-top: 50px;
  border: 1px solid #DCFFD1;
  background-color: #81CC6A;
  color: #DCFFD1;
  padding: 14px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 200;
  border-radius: 8px
}

button.button-main {
  margin-left: 560px;
  margin-top: 20px;
  border: 1px solid #DCFFD1;
  background-color: #81CC6A;
  color: #DCFFD1;
  padding: 14px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 200;
  border-radius: 8px
}

button.main {
  border: 1px solid #DCFFD1;
  background-color: #81CC6A;
  color: #DCFFD1;
  padding: 14px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 200;
  border-radius: 8px
}

button.button {
  margin-left: 700px;
  font-size: 16px;
  font-weight: 200;
  border-radius: 8px;
  padding: 14px 40px;
  border: 1px solid #DCFFD1;
  background-color: #81CC6A;
  color: #DCFFD1;
}

button.main1 {
  border: 1px solid #DCFFD1;
  background-color: #81CC6A;
  color: #DCFFD1;
  padding: 14px 40px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 200;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


button.calculator {
  border: 1px solid #DCFFD1;
  background-color: #81CC6A;
  color: #DCFFD1;
  padding: 14px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  border-radius: 8px;
  margin-top: 50px;
}

div.result-text {
  font-weight: 300;
  font-size: large;
}

ul.errorlist {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 200;
  list-style: none;
}

.form-group {
    text-align-last: justify;
    margin-block-end: 1em;
}